<main>
        <div class="row">
            <div class="pest-column">
                <%= image_tag "welcome_bubble", class: "pest-size"%>
                <%= image_tag "raccoon_#{rand(1..13)}", class: "pest-size"%>

            </div>
            <div class="main-column">
                <h1>Welcome to Neopests!</h1>
                <h2> Have you ever wanted to own your own NYC pest? Well now is you chance. With Neopests, we make is easy for you to find the pest of your dreams.</h2>
                <% if !logged_in? %>
                    <p>Please login to get the ball rolllllllllllin</p> 
                    <%= link_to "Login", login_path %><br>
                    <%= link_to "Create User", new_user_path%>
                <% end%>
            </div>
        </div>
    </main>
