h1 {
    color: grey;
    border-bottom: 5px solid grey;
    text-shadow: 2px 2px pink;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: pink;
}

h3 {
  color: gray;
}

p {
    color: pink;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
  }

  a {
      color: grey;
  }

  main {
    margin-top: 50px;

  }

  .logo-size{
      max-height: 50px;
  }

  .row {
    display: flex;
  }
  
  .pest-column {
    flex: 25%;
    margin: 20px;
    padding: 50px;
    background-color: white;
  }
  

  .main-column {
    flex: 75%;
    margin: 20px;
    padding: 50px;
    background-color: white;
  }

  .pest-size{
      max-width: 25vw;
  }

  .paintbrush-size{
    max-width: 10vw;
}

  /* L added bc body text was hiding under nav bar - we can either put here or under nav */
  /* added font-family here for */
  body { 
    padding-top: 25px; 
    font-family: "Montserrat", "Avenir";
    background-color: pink;
  }